{%extends 'registration/base.html'%}
{% block content %} 


{% load bootstrap3 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Profile</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/instagclone.css' %}"> {% endblock %}

</head>

<body>
        <div class="container">
                <h1><u><i>User Profile</i></u></h1>
                <div class="row">
                 
                    {% for i in img %}
                    <div class="col-md-4">
                      <strong>{{i.user}}</strong><br>
                      <img src="{{i.profile_photo.url}}" class="img-responsive" alt="Image"><br>
                    </div>
                    {% endfor %}
                  
                </div>
                
                    <strong><u>Posted Projects</u>: {{num_posts}} </strong><br>
                    <br><strong style="color:rgb(5, 122, 158);"><i>Following Are Projects Images. Please Click on Image and View Details!</i> </strong>

               
                    

              <div class="imgnew">
                <div class="row">
                  {% for j in pic %}
                  <div class="col-md-4">
                    <br><strong>{{j.title}}</strong><br>
                    <a href="" data-toggle="modal" data-target="#{{j.id}}">
                      <img src="{{j.image_landing_page.url}}" class="img-responsive" alt="Image" width=400 height=100 >
                    </a>
                  </div>
 
                  <!-- Project details in modals-->
                  <div id="{{j.id}}" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h2 class="modal-title"><strong>Project Details</strong></h2>
                        </div>
                        <div class="modal-body">
                          
                          <br><h2 style="color:green;"><u>Title</u>: {{j.title}}</h2><br>
                          <img src="{{j.image_landing_page.url}}" class="img-responsive" alt="Image"><br>
                          <p style="color:green;"><u>Description</u>: {{ j.detailed_description }}</p> 
                          <p style="color:green;"><u>Link To Live Site</u>:{{ j.link_to_livesite }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div> 
                      </div>
                    </div>
                  </div>
     
                <!--end of modals for project details-->
                  {% endfor %}
              </div><br>
              <div class="row">
                <div class="col-md-2">
                  <p class='text-center'><a href="{%url 'myprofile'%}" class="btn btn-primary ">Update Profile</a></p>
                </div>
                <div class="col-md-2">
                  <p class='text-center'><a href="{%url 'project_image'%}" class="btn btn-primary ">Add Project</a></p>
                </div>
              </div>
            
            </div>
           
        </div> 
        
</body>

</html>

{% endblock %}
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/awards.js'%}"></script>
{% endblock %}